<br>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      Editar Categoría
    </div>
    <div class="card-body">
      <%= render 'form', category: @category %>
    </div>
  </div>
</div>
